.resume{
    padding: 50px;
    margin-top: -10px;

}

div{
    text-align: center;

}

body {
    background-image: radial-gradient(circle at center, white, gainsboro);
}

h1 {
    text-align: center;
}

#img {

    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 175px;

}

#liste{
    position: relative;
}

img {

    max-width: 100%;
}